.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 80px;
    height: 100%;
  }
  .wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 10px;
    font-size: 0.8em;  text-align: center;
  }
  .wd-kanbas-navigation li i.fa-user{
  color: white;
  }

  .wd-kanbas-navigation li.wd-active {
    background-color: white;
  }
  .wd-kanbas-navigation li.wd-active a {
    color: red;
  }
  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
  }
  .wd-kanbas-navigation li {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
  }
  
  .wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.navbar.d-sm-none {
  display: flex;
  justify-content: center;
}

.navbar.d-sm-none h3 {
  text-align: center;
  color: white;
  margin: 0;
}

